/*animated header gradient*/
@keyframes headerGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mdl-layout__header {
  background: linear-gradient(-45deg, #d32f2f, #e53935, #c62828, #b71c1c, #d32f2f) !important;
  background-size: 400% 400%;
  animation: headerGradient 30s ease infinite;
}

/*patch the drawer hambuger to vertically-align to centre*/
.mdl-layout__drawer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*seems like to good idea not to have them show while CodeMirror is loading*/
textarea {
  border: none;
  background-color: transparent;
  resize: none;
}

.fhir-input {
  /*width: 50%;*/
  height: calc(100% - 195px);
  box-sizing: border-box;
  /*display: inline-block;*/
}

.fhir-input .CodeMirror {
  height: 100%;
}

#privacy-and-terms-dialog, #help-dialog {
  width: 50%;
  overflow-y: scroll;
  max-height: calc(100vh - 50px);
}
/*on smaller screens, expand the dialogs width*/
@media(max-width: 600px) {
  #privacy-and-terms-dialog, #help-dialog {
    width: 90%;
  }
}

#policy-footnote {
  padding-top: 10px;
  font-size: smaller;
}

#fhir-version-select {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}
